<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555763540235-5a39mnbrn3rq5mdpam31s43slumu9dl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555763540235-5a39mnbrn3rq5mdpam31s43slumu9dl4</string>
	<key>API_KEY</key>
	<string>AIzaSyDcXbFagcxfTXEnFVmk5EeH_qi6cut4Hk0</string>
	<key>GCM_SENDER_ID</key>
	<string>555763540235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifecare.lifecare</string>
	<key>PROJECT_ID</key>
	<string>lifecare-795dc</string>
	<key>STORAGE_BUCKET</key>
	<string>lifecare-795dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555763540235:ios:05097b85405ac73e08820e</string>
</dict>
</plist>